

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll-off {
    overflow: hidden;
}

.header {
    width: 100%;
    position: fixed;
    background-color: #FFFFFF99;
    backdrop-filter: blur(16px);
    transition: width 0.4s ease-in-out;
    z-index: 1000;
}

.header-open {
    width: 283px;
    display: flex;
    flex-direction: column;
    height: 63px;
    z-index: 1000;
}

.header__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
    max-height: 62px;
    gap: 20px;
    transition: all 0.4s ease-in-out;
}

.header__wraper-open {
    padding: 16px 0;
    gap: 22px;
}


@media screen and (min-width: 1194px) {
    .header__wraper {
        padding: 28px 0;
        max-height: 128px;
    }
}

@media screen and (min-width: 1920px) {
    .header__wraper {
        padding: 28px 0;
    }
}

.header__nav {
    display: none;
}

@media screen and (min-width: 1194px) {
    .header__nav {
        display: flex;
    }
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;

    transition: all 0.4s ease-in-out;
}

.container-open {
    padding: 0 32px;
    
}

@media screen and (min-width: 1194px) {
    .container {
        max-width: 1162px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 1634px;
    }
}

.header__nav-list {
    list-style-type: none;
    display: flex;
    gap: 6px;
}

@media screen and (min-width: 1920px) {
    .header__nav-list {
        gap: 16px;
    }
}

.header__menu {
    width: 42px;
    height: 24px;
    background-image: url(images/btn-menu__mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 13px;
    border-radius: 16px;
    border: none;
    background-color: #ffffff00;
    flex-shrink: 0;

    transition: all 0.2s ease-in-out;
}

.header__menu-open {
    background-image: url(images/btn__close-mobile.png);
    background-color: #5CC2FF;
}

@media screen and (min-width: 1194px) {
    .header__menu {
        display: none;
    }
}

.header__logo {
    width: 156px;
    display: flex;
}

@media screen and (min-width: 1194px) {
    .header__logo {
        width: 200px;
    }
}

@media screen and (min-width: 1920px) {
    .header__logo {
        width: 247px;
    }
}

.header__application {
    max-width: 136px;
    padding: 6px;
    white-space: nowrap;
    border: none;
    border-radius: 28px;
    background-color: #CEE9F9;
    display: flex;
    gap: 4px;
    align-items: center;
    min-width: 134px;

    

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #2D2D2D;

    opacity: 1;
    transform: scaleX(1);
    transform-origin: left center; 
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.header__aplication-open {
    opacity: 0;
    transform: scaleX(0); 
    transform-origin: right center;
    max-width: 0;
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 1194px) {
    .header__application {
        padding: 8px;
        max-width: 201px;
        font-size: 14px;
        gap: 16px;
        padding-left: 16px ;
    }
}

@media screen and (min-width: 1920px) {
    .header__application {
        padding: 8px;
        max-width: 249px;
        font-size: 18px;
        padding-left: 24px ;
    }
}

.header__application-icon {
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    background-image: url(images/icon_btn-2.png);
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 32px;
}

@media screen and (min-width: 1194px) {
    .header__application-icon {
        width: 48px;
        height: 48px;
        background-size: 24px;
    }
}

@media screen and (min-width: 1920px) {
    .header__application-icon {
        width: 56px;
        height: 56px;
    }
}

.header__nav-btn {
    border: none;
    border-radius: 28px;

    padding: 8px;
    padding-left: 16px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    gap: 6px;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
    letter-spacing: -2%;
}

@media screen and (min-width: 1920px) {
    .header__nav-btn {
        padding: 6px;
        padding-left: 16px;
        gap: 16px;
        border-radius: 15px;

        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #2D2D2D;
        letter-spacing: 0%;
    }
}

.header__nav-icon {
    width: 42px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url(images/icon_btn.png);
    background-position: center center;
    background-size: 18px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1920px) {
    .header__nav-icon {
        width: 56px;
        height: 46px;
        background-size: 24px;
    }
}

.header__timing {
    display: flex;
    gap: 6px;
    white-space: nowrap;
}

@media screen and (max-width: 1193px) {
    .header__timing {
        display: none;
    }
}

@media screen and (min-width: 1920px) {
    .header__timing {
        gap: 16px;
    }
}

.header__timing--mobile {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #2D2D2D;
}

@media screen and (min-width: 1920px) {
    .header__timing--mobile {
        display: none;
    }
}

.header__timing--bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #2D2D2D;
    letter-spacing: -2%;
}

@media screen and (min-width: 1920px) {
    .header__timing--bold {
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #2D2D2D;
        letter-spacing: 0%;
    }
}

.header__timing--desktop {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #2D2D2D;
    font-style: light;
}

@media screen and (max-width: 1919px) { 
    .header__timing--desktop {
        display: none;
    }
}

.header__mobile__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 283px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 59px;
    height: 100dvh;
    background-color: #FFFFFF99;
    backdrop-filter: blur(16px);
    overflow: hidden;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    z-index: 999;
    box-shadow: 5px 0px 10px 2px #00000026;
}

.header__mobile__menu-open {
    transform: translateX(0);
}


.mobile__menu__nav--btn {
    border: none;
    background-color: #F6F6F6;
    border-radius: 28px;
    padding: 8px;
    padding-left: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2D; 
}

.mobile__menu__nav--item {
    width: 100%;
}

.mobile__menu__nav--icon {
    width: 42px;
    height: 30px;
    background-image: url(images/icon_btn.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.mobile__menu__nav--list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.mobile__menu--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 80px;
}

.mobile__menu--adress {
    display: flex;
    flex-direction: column;
    gap: 6px;

    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2D2D2D; 
}

.mobile__menu--branches-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;    
}

.mobile__menu--application {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile__menu--times-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D; 
}

.mobile__menu--times-text-bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2D2D2D; 
}

.mobile__menu--number-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #2D2D2D; 
    display: flex;
    flex-direction: column;

    text-decoration: none;

}

a:visited {
    color: #2D2D2D; ;
}

.mobile__menu__btn {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2D; 
    padding: 16px;
    border: none;
    border-radius: 28px;
    background-color: #5cc3ff57;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mobile__menu--icon {
    width: 24px;
    height: 24px;
    border-radius: 32px;
    background-image: url(images/icon_btn-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: #FFFFFF;
}

.container__mobile-menu {
    padding: 0 16px;
    margin: auto auto;
    width: 100%;
    height: 100%;
}

.main {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    margin: 0 auto;
    
    position: relative;
    overflow:hidden;
    z-index: 1;

    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-size: 1194px 1144px;
    background-position: center center;
}



.main__widget-1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    z-index: 2;
    margin-right: auto;
}

.widget-1-text-1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
}

.widget-1-text-1-bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
}

.widget-1-text-2 {
    padding: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #747474;
    letter-spacing: -0.5px;
    line-height: 100%;
}

.main__widget-1--item-2 {
    background-color: #F6F6F6;
    border-radius: 16px;
    max-width: 220px;
}

.main__widget-1--item-3 {
    width: 56px;
    height: 56px;
    background-color: #F6F6F6;
    border-radius: 16px;
    background-image: url(images/icon-enter.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.main__item-1 {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget-2__fullname {
    max-width: 118px;
}

.main__widget-2--item-1 {
    padding: 12px 28px;
    background-color: #99FFD3;
    border-radius: 16px 16px 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.widget-2__profession {
    max-width: 326px;
}

.widget-2__experience {
    display: flex;
    gap: 8px;
    max-width: 137px;
}

.widget-2__experience--text-1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #747474;
    line-height: 100%;
}

.main__widget-2--item-2 {
    padding: 16px 28px;
    background-color: #FFFFFF;
    border-radius: 0 0 16px 0;
} 

.main__widget-2 {
    margin: 0 -16px;
    max-width: 393px;
    margin-top: 94px;
    position: relative;
    z-index: 3;
    margin-left: auto;
    box-shadow: 0px 8px 16px 0px #00000026;
    border-radius: 16px 16px 16px 0;
}


.main__widget-2__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.widget-2--item-2--text {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -0.5px;
}

.widget-2--item-2--comma {
    width: 15px;
    height: 11px;
    background-image: url(images/zapatie.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.widget-2__experience--text-2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -1px;
}

.widget-2__profession-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
    color: #22833F;
}

.widget-2--lastname {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
}

.widget-2--first-middlename {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
}

.main__widget-3 {
    padding: 16px 14px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 28px;
    position: relative;
    z-index: 4;
    width: 361px;
    margin-right: auto;
}

.main__widget-3__implant-icon {
    background-image: url(images/tooth_icon1.png);
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main__widget-3__implant {
    display: flex;
    align-items: center;
    gap: 6px;
}

.main__widget-3__implant__container {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main__widget-3__implant-text-1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #2D2D2D;
    line-height: 100%;
}

.main__widget-3__implant-text-1--bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -0.5px;
}

.main__widget-3__implant-text-2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #747474;
    line-height: 100%;
    letter-spacing: -0.5px;
}

.main__widget-3__implant-text-2--bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #747474;
    line-height: 100%;
    letter-spacing: -0.5px;
}

.main__widget-3--btn {
    padding: 6px;
    padding-left: 16px;
    background-color: #CEE9F9;
    border: none;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     position: relative;
    z-index: 5;
}

.main__widget-3--btn-icon {
    background-image: url(images/icon_btn-2.png);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: #FFFFFF;
    border-radius: 32px;
    position: relative;
    z-index: 6;
}

.main__item-2 {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.skull_animated {
    display: flex;
    flex-direction: column;
    width: 438px;
    height: 393px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: -24px;
}

.qwer {
    background-color: #2fd0db17;
    height: 500px;
    width: 100%;
}

.skull_img {
    position: absolute;
    width: 438px;
    height: 393px;
    z-index: 2;
    transform: translateY(-500%);
}

@keyframes skull_down {
    to { transform: translateY(0); }
}

@keyframes skull_up {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(0);}
    100% {transform: translateY(-1500%);}
}

.shift_img-1 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 58px;
    bottom: 160px;
    left: 120px;
    z-index: 1;
    transform: translateY(-1500%);
}

@keyframes shift-down {
    40% {transform: translateY(0);}
    60% {transform: translateY(-5px);}
    80% {transform: translateY(3px);}
    100% {transform: translateY(0);}
}

@keyframes shift-up {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(0);}
    100% {transform: translateY(-1500%);}
}

.shift_img-2 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 84px;
    top: 81px;
    transform: translateY(-1500%);
    transition: all 0.5s ease-in-out;
}

.shift_img-3 {
    position: absolute;
    width: 58px;
    left: 193px;
    top: 73px;
    transform: translateY(-1500%);
    transition: all 0.5s ease-in-out;
}

.shift_img-4 {
    position: absolute;
    width: 58px;
    height: 58px;
    right: 55px;
    top: 143px;
    transform: translateY(-1500%);
    transition: all 0.5s ease-in-out;
}

.main__doctor__icon {
    background-image: url(images/nizami1.png);
    width: 414px;
    height: 518px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 80px;
    right: -136px;
    position: absolute;
    z-index: 2;
}