

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll-off {
    overflow: hidden;
}

.header {
    width: 100%;
    position: fixed;
    background-color: #FFFFFF99;
    backdrop-filter: blur(16px);
    transition: width 0.4s ease-in-out;
    z-index: 1000;
}

.header-open {
    width: 283px;
    display: flex;
    flex-direction: column;
    height: 63px;
    z-index: 1000;
}

.header__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
    max-height: 62px;
    gap: 20px;
    transition: all 0.4s ease-in-out;
}

.header__wraper-open {
    padding: 16px 0;
    gap: 22px;
}

@media screen and (max-width: 393px) {
    .header__wraper {
        gap: 6px;
    }
}

@media screen and (min-width: 1194px) {
    .header__wraper {
        padding: 28px 0;
        max-height: 128px;
    }
}

@media screen and (min-width: 1920px) {
    .header__wraper {
        padding: 28px 0;
    }
}

.header__nav {
    display: none;
}

@media screen and (min-width: 1194px) {
    .header__nav {
        display: flex;
    }
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 1194px) {
    .container {
        padding: 0 16px;
        max-width: 1500px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        padding: 0 143px;
        max-width: 2100px;
    }
}

.container-open {
    padding: 0 32px;
    
}

.header__nav-list {
    list-style-type: none;
    display: flex;
    gap: 6px;
}

@media screen and (min-width: 1920px) {
    .header__nav-list {
        gap: 16px;
    }
}

.header__menu {
    width: 42px;
    height: 24px;
    background-image: url(images/btn-menu__mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 13px;
    border-radius: 16px;
    border: none;
    background-color: #ffffff00;
    flex-shrink: 0;

    transition: all 0.4s ease-in-out;
}

.header__menu-open {
    background-image: url(images/btn__close-mobile.png);
    background-color: #5CC2FF;
}

@media screen and (min-width: 1194px) {
    .header__menu {
        display: none;
    }
}

.header__logo {
    width: 156px;
    display: flex;
}

@media screen and (max-width: 393px) {
    .header__logo {
        width: 120px;
    }
}

@media screen and (min-width: 1194px) {
    .header__logo {
        width: 200px;
    }
}

@media screen and (min-width: 1920px) {
    .header__logo {
        width: 247px;
    }
}

.header__application {
    max-width: 136px;
    padding: 6px;
    white-space: nowrap;
    border: none;
    border-radius: 28px;
    background-color: #CEE9F9;
    display: flex;
    gap: 4px;
    align-items: center;
    min-width: 134px;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #2D2D2D;
    cursor: pointer;

    opacity: 1;
    transform: scaleX(1);
    transform-origin: left center; 
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.header__application:active {
    background-color: #5CC2FF;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.header__aplication-open {
    opacity: 0;
    transform: scaleX(0); 
    transform-origin: right center;
    max-width: 0;
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 1194px) {
    .header__application {
        padding: 8px;
        max-width: 201px;
        font-size: 14px;
        gap: 16px;
        padding-left: 16px ;
    }
}

@media screen and (min-width: 1920px) {
    .header__application {
        padding: 8px;
        max-width: 249px;
        font-size: 18px;
        padding-left: 24px ;
    }

    .header__application:hover {
    background-color: #5CC2FF;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

    .header__application:active {
    background-color: #96d9ff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
}

.header__application-icon {
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    background-image: url(images/icon_btn-2.png);
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 32px;
}

@media screen and (min-width: 1194px) {
    .header__application-icon {
        width: 48px;
        height: 48px;
        background-size: 24px;
    }
}

@media screen and (min-width: 1920px) {
    .header__application-icon {
        width: 56px;
        height: 56px;
    }
}

.header__nav-btn {
    border: none;
    border-radius: 28px;
    padding: 8px;
    padding-left: 16px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
    letter-spacing: -2%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; 
}

@media screen and (min-width: 1920px) {
    .header__nav-btn {
        padding: 6px;
        padding-left: 16px;
        gap: 16px;
        border-radius: 15px;

        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #2D2D2D;
        letter-spacing: 0%;
    }
}

.header__nav-icon {
    width: 42px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url(images/icon_btn.png);
    background-position: center center;
    background-size: 18px;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

.header__nav-icon:hover {
    background-color: #CEE9F9;
}

.header__nav-icon:active {
    background-color: #5CC2FF;
    background-image: url(images/icon_btn_active.png);
}

@media screen and (min-width: 1920px) {
    .header__nav-icon {
        width: 56px;
        height: 46px;
        background-size: 24px;
    }
}

.header__timing {
    display: flex;
    gap: 6px;
    white-space: nowrap;
}

@media screen and (max-width: 1193px) {
    .header__timing {
        display: none;
    }
}

@media screen and (min-width: 1920px) {
    .header__timing {
        gap: 16px;
    }
}

.header__timing--mobile {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #2D2D2D;
}

@media screen and (min-width: 1920px) {
    .header__timing--mobile {
        display: none;
    }
}

.header__timing--bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #2D2D2D;
    letter-spacing: -2%;
}

@media screen and (min-width: 1920px) {
    .header__timing--bold {
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #2D2D2D;
        letter-spacing: 0%;
    }
}

.header__timing--desktop {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #2D2D2D;
    font-style: light;
}

@media screen and (max-width: 1919px) { 
    .header__timing--desktop {
        display: none;
    }
}

.header__mobile__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 283px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 59px;
    height: 100dvh;
    background-color: #FFFFFF99;
    backdrop-filter: blur(16px);
    overflow: hidden;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    z-index: 999;
    box-shadow: 5px 0px 10px 2px #00000026;
}

.header__mobile__menu-open {
    transform: translateX(0);
}


.mobile__menu__nav--btn {
    border: none;
    background-color: #F6F6F6;
    border-radius: 28px;
    padding: 8px;
    padding-left: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2D; 
}

.mobile__menu__nav--btn:active {
    background-color: #CEE9F9;
}

.mobile__menu__nav--item {
    width: 100%;
}

.mobile__menu__nav--icon {
    width: 42px;
    height: 30px;
    background-image: url(images/icon_btn.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.mobile__menu__nav--list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.mobile__menu--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 80px;
}

.mobile__menu--adress {
    display: flex;
    flex-direction: column;
    gap: 6px;

    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2D2D2D; 
}

.mobile__menu--branches-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;    
}

.mobile__menu--application {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile__menu--times-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D; 
}

.mobile__menu--times-text-bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2D2D2D; 
}

.mobile__menu--number-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #2D2D2D; 
    display: flex;
    flex-direction: column;

    text-decoration: none;

}

a:visited {
    color: #2D2D2D; ;
}

.mobile__menu__btn {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2D; 
    padding: 16px 45px;
    border: none;
    border-radius: 28px;
    background-color: #5cc3ff57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.mobile__menu__btn:active {
    background-color: #5CC2FF;
}

.mobile__menu--icon {
    width: 24px;
    height: 24px;
    border-radius: 32px;
    background-image: url(images/icon_btn-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: #FFFFFF;
}

.container__mobile-menu {
    padding: 0 16px;
    margin: auto auto;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    margin: 0 auto;
    
    position: relative;
    overflow:hidden;
    z-index: 1;

    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__content {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1194px) {
    .main__content {
        flex-direction: column;
    }
}


.main__widget-1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    z-index: 2;
    margin-right: auto;
    max-width: 361px;
    width: 100%;
}

@media screen and (min-width: 1194px) {
    .main__widget-1--item-1 {
        text-align: end;
    }
}

@media screen and (min-width: 1194px) {
    .main__widget-1 {
        max-width: 500px;
        width: 100%;
        align-items: end;
        margin-left: 137px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-1 {
        margin-left: 299px;
    }
}

.widget-1-text-1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
}

@media screen and (min-width: 1194px) {
    .widget-1-text-1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1920px) {
    .widget-1-text-1 {
        font-size: 36px;
    }
}

.widget-1-text-1-bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
}

@media screen and (min-width: 1194px) {
    .widget-1-text-1-bold {
        font-size: 28px;
    }
}

@media screen and (min-width: 1920px) {
    .widget-1-text-1-bold {
        font-size: 36px;
    }
}

.widget-1-text-2 {
    padding: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #747474;
    letter-spacing: -0.5px;
    line-height: 100%;
}

@media screen and (min-width: 1194px) {
    .widget-1-text-2 {
        font-size: 20px;
        text-align: end;
        letter-spacing: 0px;
    }
}

@media screen and (min-width: 1920px) {
    .widget-1-text-2 {
        font-size: 24px;
    }
}

.main__widget-1--item-2 {
    background-color: #F6F6F6;
    border-radius: 16px;
    max-width: 220px;
}

@media screen and (min-width: 1194px) {
    .main__widget-1--item-2 {
        max-width: 280px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-1--item-2 {
        max-width: 332px;
    }
}

.main__widget-1--item-3 {
    width: 56px;
    height: 56px;
    background-image: url(images/icon-enter.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.main__item-1 {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

@media screen and (min-width: 1194px) {
    .main__item-1 {
        flex-direction: row;
        align-items: start;
        padding-top: 206px;
    }
}

@media screen and (min-width: 1920px) {
    .main__item-1 {
        padding-top: 219px;
    }
}

.main__widget-2--item-1 {
    padding: 12px 28px;
    background-color: #99FFD3;
    border-radius: 16px 16px 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    z-index: 3;
}

.widget-2__experience {
    display: flex;
    gap: 8px;
}

.widget-2__experience--text-1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #747474;
    line-height: 100%;
}

@media screen and (min-width: 1920px) {
    .widget-2__experience--text-1 {
        font-size: 17px;
    }
}

.main__widget-2--item-2 {
    padding: 16px 28px;
    background-color: #FFFFFF;
    border-radius: 0 0 16px 0;
    position: relative;
    overflow: hidden;
    z-index: 3;
} 

.main__widget-2 { 
    margin: 0 -16px;
    margin-top: 94px;
    position: relative;
    z-index: 3;
    box-shadow: 0px 8px 16px 0px #00000026;
    border-radius: 16px 16px 16px 0;
}

@media screen and (min-width: 1194px) {
    .main__widget-2 {
        margin: 0;
        max-width: 300px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-2 {
        margin: 0;
        max-width: 415px;
    }
}

.main__widget-2__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.widget-2--item-2--text {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -0.5px;
}

@media screen and (min-width: 1920px) {
    .widget-2--item-2--text {
        font-size: 18px;
    }
}

.widget-2--item-2--comma {
    width: 15px;
    height: 11px;
    background-image: url(images/zapatie.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.widget-2__experience--text-2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -1px;
}

@media screen and (min-width: 1920px) {
    .widget-2__experience--text-2 {
        font-size: 17px;
    }
}

.widget-2__profession-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
    color: #22833F;
}

@media screen and (min-width: 1920px) {
    .widget-2__profession-text {
        font-size: 17px;
    }
}

.widget-2--lastname {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
}

@media screen and (min-width: 1920px) {
    .widget-2--lastname {
        font-size: 24px;
    }
}

.widget-2--first-middlename {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
}

@media screen and (min-width: 1920px) {
    .widget-2--first-middlename {
        font-size: 18px;
    }
}

.main__widget-3 {
    padding: 16px 14px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 28px;
    position: relative;
    z-index: 4;
    align-items: center;
    width: 100%;
    margin-right: auto;
    box-shadow: 0px 8px 16px 0px #48262626;

}

@media screen and (min-width: 1194px) {
    .main__widget-3 {
        max-width: 442px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-3 {
        max-width: 619px;
    }
}


.main__widget-3__implant-icon {
    background-image: url(images/tooth_icon1.png);
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 1194px) {
    .main__widget-3__implant-icon {
        width: 48px;
        height: 48px;
    }
}


.main__widget-3__implant {
    display: flex;
    align-items: center;
    gap: 6px;
}

@media screen and (min-width: 1920px) {
    .main__widget-3__implant {
        gap: 16px;
    }
}

.main__widget-3__implant__container {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media screen and (min-width: 1920px) {
    .main__widget-3__implant__container {
        gap: 16px;
    }
}

.main__widget-3__implant-text-1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #2D2D2D;
    line-height: 100%;
}

@media screen and (min-width: 1194px) {
    .main__widget-3__implant-text-1 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-3__implant-text-1 {
        font-size: 24px;
    }
}

.main__widget-3__implant-text-1--bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -0.5px;
}

@media screen and (min-width: 1194px) {
    .main__widget-3__implant-text-1--bold {
        font-size: 24px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-3__implant-text-1--bold {
        font-size: 36px;
    }
}

.main__widget-3__implant-text-2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #747474;
    line-height: 100%;
    letter-spacing: -0.5px;
}

@media screen and (min-width: 1194px) {
    .main__widget-3__implant-text-2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-3__implant-text-2 {
        font-size: 24px;
    }
}

.main__widget-3__implant-text-2--bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #747474;
    line-height: 100%;
    letter-spacing: -0.5px;
}

@media screen and (min-width: 1194px) {
    .main__widget-3__implant-text-2--bold {
        font-size: 18px;
    }
}

@media screen and (min-width: 1920px) {
    .main__widget-3__implant-text-2--bold {
        font-size: 24px;
    }
}

.main__widget-3--btn {
    padding: 10px 72px;
    padding-left: 80px;
    gap: 16px;
    width: 100%;
    background-color: #CEE9F9;
    border: none;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2D;
    line-height: 18px;
    letter-spacing: -2%;

    
}

.main__widget-3--btn:active {
    background-color: #5CC2FF;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 1194px) {
    .main__widget-3--btn {
        font-size: 24px;
        padding: 8px 65px;
        padding-left: 80px;
        gap: 16px;
    }
}


@media screen and (min-width: 1920px) {

    .main__widget-3--btn {
        font-size: 24px;
        padding: 29px 153px;
        padding-left: 169px;
        gap: 16px;
    }
    .main__widget-3--btn:hover {
        background-color: #5CC2FF;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
    
    .main__widget-3--btn:active {
        background-color: #96d9ff;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
}

.main__widget-3--btn-icon {
    background-image: url(images/icon_btn-2.png);
    width: 48px;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: #FFFFFF;
    border-radius: 32px;
    position: relative;
    z-index: 6;
}

@media screen and (min-width: 1194px) {
    .main__widget-3--btn-icon {
        width: 56px;
        height: 56px;
        background-size: 24px;
    }
}

.main__item-2 {
    padding-top: 260px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (min-width: 1194px) {
    .main__item-2 {
        padding-top: 43px;
        padding-bottom: 110px;
    }
}

@media screen and (min-width: 1920px) {
    .main__item-2 {
        padding-top: 123px;
        padding-bottom: 100px;
    }
}

.skull_animated {
    display: flex;
    flex-direction: column;
    width: 438px;
    height: 393px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: -25px;
    top: -48px;
}

@media screen and (min-width: 1194px) {
    .skull_animated {
        width: 453px;
        height: 405px;
        top: -300px;
        left: -36px;
    }
}

@media screen and (min-width: 1920px) {
    .skull_animated {
        width: 453px;
        height: 405px;
        top: -300px;
        left: 30px;
    }
}

.qwer {
    background-color: #2fd0db17;
    height: 500px;
    width: 100%;
}

.skull_img {
    position: absolute;
    width: 438px;
    height: 393px;
    z-index: 2;
    transform: translateY(-500%);
}

@keyframes skull_down {
    to { transform: translateY(0); }
}

@keyframes skull_up {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(0);}
    100% {transform: translateY(-1500%);}
}

.shift_img-1 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 58px;
    bottom: 160px;
    left: 120px;
    z-index: 1;
    transform: translateY(-1500%);
}

@keyframes shift-down {
    40% {transform: translateY(0);}
    60% {transform: translateY(-5px);}
    80% {transform: translateY(3px);}
    100% {transform: translateY(0);}
}

@keyframes shift-jump {
    0%, 90% {transform: translateY(0);}
    93% {transform: translateY(10px);}
    95% {transform: translateY(0);}
    97% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

.shift_img-2 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 84px;
    top: 81px;
    transform: translateY(-1500%);
}

.shift_img-3 {
    position: absolute;
    width: 58px;
    left: 193px;
    top: 73px;
    transform: translateY(-1500%);
}

.shift_img-4 {
    position: absolute;
    width: 58px;
    height: 58px;
    right: 55px;
    top: 143px;
    transform: translateY(-1500%);
}

.main__doctor__icon {
    background-image: url(images/nizami1.png);
    width: 414px;
    height: 518px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -367px;
    right: -120px;
    position: absolute;
    z-index: 2;
}

@media screen and (max-width: 392px) {
    .main__doctor__icon {
        width: 350px;
        height: 450px;
        top: -360px;
    }
}

@media screen and (min-width: 1194px) {
    .main__doctor__icon {
        width: 513px;
        height: 641px;
        top: -32px;
        right: 143px;
    }
}

@media screen and (min-width: 1920px) {
    .main__doctor__icon {
        width: 688px;
        height: 861px;
        top: -80px;
        right: 170px;
    }
}

.aboutUs {
    background-color: #CEE9F9;
}

.aboutUs__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px 0;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1194px) {
    .aboutUs__content {
        max-width: 1162px;
    }
}

@media screen and (min-width: 1920px) {
    .aboutUs__content {
        max-width: 1634px;
    }
}

.aboutUs__widget-1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0px 12px;
    margin-bottom: -50px;
}

@media screen and (min-width:1194px) {
    .aboutUs__widget-1 {
        flex-direction: row;
    }
}

.aboutUs__widget-1--item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.aboutUs__widget-1--prothesis {
    width: 200px;
    height: 80px;
    background-image: url(images/aboutUs_widget-1--prothesis.png);
    background-position: center -38px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color: #FFFFFF;
    min-width: 200px;
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-1--prothesis {
        width: 257px;
        height: 98px;
        background-position: center -27px;
    }
}

.aboutUs__widget-1--syringe {
    width: 200px;
    height: 80px;
    background-image: url(images/aboutUs_widget-1--syringe.png);
    background-position: center -15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color: #FFFFFF;
    min-width: 200px;
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-1--syringe {
        width: 257px;
        height: 98px;
        background-position: center -20px;
    }
}

.aboutUs__widget-1--text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -0.5px;
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-1--text {
        font-size: 16px;
    }
}

.aboutUs__widget-1--text-bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 100%;
    letter-spacing: -0.5px;
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-1--text-bold {
        font-size: 16px;
    }
}

.aboutUs__widget-1--btn {
    background-color: #5CC2FF;
    border: none;
    gap: 16px;
    border-radius: 28px;
    padding: 16px 0;
    justify-content: center;
    display: flex;
    align-items: center;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2D;
}

@media screen and (min-width: 1194px) {
    .aboutUs__widget-1--btn {
        max-width: 291px;
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-1--btn {
        max-width: 602px;
        width: 100%;
        font-size: 24px;
    }
}

.aboutUs__widget-1--btn-icon {
    width: 48px;
    height: 48px;
    background-image: url(images/icon_btn-2.png);
    background-color: #FFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 32px;
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-1--btn-icon {
        width: 56px;
        height: 56px;
    }
}

.aboutUs__widget-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.aboutUs__widget-2--item-1--text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 140%;
    text-align: center;
}

@media screen and (min-width: 1194px) {
    .aboutUs__widget-2--item-1--text {
        font-size: 28px;
    }
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-2--item-1--text {
        font-size: 36px;
    }
}


.aboutUs__widget-2--item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

@media screen and (min-width: 1194px) {
    .aboutUs__widget-2--item-2 {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }
}

.aboutUs__widget-2--item-2-btn-1 {
    background-color: #FFF;
    border: none;
    padding: 12px 16px;
    border-radius: 16px;
    gap: 10px;
    display: flex;
    align-items: center;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
    text-align: center;
    transform: rotate(-3deg);
}

@media screen and (min-width: 1194px) {
    .aboutUs__widget-2--item-2-btn-1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-2--item-2-btn-1 {
        font-size: 36px;
    }
}

.aboutUs__widget-2--item-2-btn-2 {
    background-color: #FFF;
    border: none;
    padding: 12px 16px;
    border-radius: 16px;
    gap: 10px;
    display: flex;
    align-items: center;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #2D2D2D;
    letter-spacing: -0.5px;
    line-height: 100%;
    text-align: center;
    transform: rotate(2deg);
}

@media screen and (min-width: 1194px) {
    .aboutUs__widget-2--item-2-btn-2 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-2--item-2-btn-2 {
        font-size: 36px;
    }
}

.aboutUs__widget-2--item-2-heart {
    width: 30px;
    height: 30px;
    background-image: url(images/heart.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUs__widget-2--item-2-chair {
    width: 30px;
    height: 30px;
    background-image: url(images/chair.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUs__widget-3 {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 20px;
}

@media screen and (min-width: 1194px) {
    .aboutUs__widget-3 {
        padding: 0 111px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.aboutUs__widget-3--item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

@media screen and (min-width: 1194px) {
    .aboutUs__widget-3--item {
        max-width: 300px;
    }
}

@media screen and (min-width: 1920px) {
    .aboutUs__widget-3--item {
        max-width: 320px;
    }
}

.aboutUs__widget-3--people {
    background-color: #FFF;
    background-image: url(images/people.png);
    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    width: 90px;
    height: 100px;
}

.aboutUs__widget-3--visability {
    background-color: #FFF;
    background-image: url(images/visability.png);
    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    width: 90px;
    height: 100px;
}

.aboutUs__widget-3--verified {
    background-color: #FFF;
    background-image: url(images/verified.png);
    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    width: 90px;
    height: 100px;
}

.aboutUs__widget-3--airline_seat {
    background-color: #FFF;
    background-image: url(images/airline_seat.png);
    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    width: 90px;
    height: 100px;
}

.aboutUs__widget-3--case {
    background-color: #FFF;
    background-image: url(images/case.png);
    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    width: 90px;
    height: 100px;
}

.aboutUs__widget-3--card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.aboutUs__widget-3-header {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #080C09;
    letter-spacing: -1%;
    line-height: 130%;
    text-align: center;
}

.aboutUs__widget-3-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D99;
    line-height: 150%;
    text-align: center;
}

.aboutUs__widget-3-text-underline {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2D2D2D99;
    line-height: 150%;
    text-align: center;
    text-decoration: underline;
}

.ourWorks__content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    max-width: 360px;
    overflow: hidden;
    position: relative;
}

.ourWorks__header {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.5%;
    text-align: center;
    color: #2D2D2D;
}

.case__counter {
    padding: 15px 15px;
    white-space: nowrap;
    display: flex;
    gap: 4px;

    transition: all 0.5s ease-in-out;
}

.case__counter-btn {
    background-color: #F6F6F6;
    border: none;
    border-radius: 28px;
    padding: 8px 16px;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: #2D2D2D;

    transition: all 0.5s ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; 
}

.case__counter-btn_active {
    background-color: #5CC2FF;
    color: #FFFFFF;
}

.case__items {
    display: flex;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}

.case__items--item {
    display: flex;
    gap: 16px;
    padding: 15px;
}


.case__images--img-1 {
    width: 157px;
    height: 254px;
    background-image: url(images/caseImg-1-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
}

.case__images--img-2 {
    width: 157px;
    height: 254px;
    background-image: url(images/caseImg-1-2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
}

.case__image-before {
    display: flex;
    padding: 8px 36px;
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;

    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.case__image-after {
    display: flex;
    padding: 8px 36px;
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;

    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.case__description__items {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.case__disctiption--item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-width: 361px;   
}

.case__description--header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.case__description--head-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.case__description--problem-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#747474;
}

.case__description--decision {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.case__description--decision-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.case__description--decision-text-strong {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.case__description--decision-text-strong_blue {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5CC2FF;
}

.case__descriprion--result {
    padding: 20px 15px;
    background-color: #5CC2FF;
    border-radius: 15px;
}

.case__description--result-text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFF;
}

.case__description--result-text_bold {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFF;
}

.case__scroller {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.case__scroller-btn_back {
    padding: 8px;
    border: none;
    background-color: #F6F6F699;
    border-radius: 28px;
    transform: rotate(180deg);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; 
}

.case__scroller-btn_back:hover {
    .case__scroller-btn-icon {
        background-color: #CEE9F9;
    }
}

.case__scroller-btn_back:active {
    .case__scroller-btn-icon {
        background-color: #5CC2FF;
        background-image: url(images/icon_btn_active.png);
    }
}

.case__scroller-btn_next {
    padding: 8px;
    padding-left: 16px;
    display: flex;
    gap: 6px;
    border: none;
    align-items: center;
    background-color: #F6F6F699;
    border-radius: 28px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; 
}

.case__scroller-btn_next:hover {
    .case__scroller-btn-icon {
        background-color: #CEE9F9;
    }
}

.case__scroller-btn_next:active {
    .case__scroller-btn-icon {
        background-color: #5CC2FF;
        background-image: url(images/icon_btn_active.png);
    }
}

.case__scroller-btn-icon {
    width: 42px;
    height: 30px;
    background-color: #FFF;
    background-image: url(images/icon_btn.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: 18px;
    transition: all 0.5s ease-in-out;
}

.case__slider-back_btn {
    width: 150px;
    height: 640px;
    background-color: #22833f00;
    border: solid 2px black; 
    position: absolute;
    left: 0;
    top: 168px;
    z-index: 1000;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; 
}

.case__slider-next_btn {
    width: 150px;
    height: 640px;
    background-color: #22833f00;
    border: solid 2px black;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 168px;
    z-index: 1000;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; 
}